body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
}

.ht {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
}
.song {
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset{
        border: 4px solid white;
        border-radius: 12px;
    }